<p id="notice"><%= notice %></p>

<p>
  <strong>Event count:</strong>
  <%= @event_ranking.event_count %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @event_ranking.ranking %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event_ranking.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @event_ranking.rank %>
</p>

<p>
  <strong>Total kill:</strong>
  <%= @event_ranking.total_kill %>
</p>

<p>
  <strong>Total contribution:</strong>
  <%= @event_ranking.total_contribution %>
</p>

<%= link_to 'Edit', edit_event_ranking_path(@event_ranking) %> |
<%= link_to 'Back', event_rankings_path %>
